In [1]:
import pandas as pd
import os
import matplotlib as mpl
from matplotlib import pyplot as plt

df=pd.read_csv('Bike_Sharing_data.csv')

In [3]:
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [4]:
df['mnth'].value_counts(normalize=False)

mnth
1     62
3     62
5     62
7     62
8     62
10    62
12    62
4     60
6     60
9     60
11    60
2     57
Name: count, dtype: int64

In [5]:
df['mnth'].value_counts(normalize=True)

mnth
1     0.084815
3     0.084815
5     0.084815
7     0.084815
8     0.084815
10    0.084815
12    0.084815
4     0.082079
6     0.082079
9     0.082079
11    0.082079
2     0.077975
Name: proportion, dtype: float64

In [6]:
pd.cut(df["cnt"],bins=5).value_counts()

cnt
(3498.8, 5237.2]    259
(5237.2, 6975.6]    157
(1760.4, 3498.8]    144
(6975.6, 8714.0]     96
(13.308, 1760.4]     75
Name: count, dtype: int64

In [10]:
%matplotlib inline
plt.hist(df['cnt'],bins=11)

(array([ 12.,  49.,  65.,  58.,  92., 134., 104.,  68.,  67.,  69.,  13.]),
 array([  22.        ,  812.18181818, 1602.36363636, 2392.54545455,
        3182.72727273, 3972.90909091, 4763.09090909, 5553.27272727,
        6343.45454545, 7133.63636364, 7923.81818182, 8714.        ]),
 <BarContainer object of 11 artists>)

In [7]:
df.casual.describe()

count     731.000000
mean      848.176471
std       686.622488
min         2.000000
25%       315.500000
50%       713.000000
75%      1096.000000
max      3410.000000
Name: casual, dtype: float64

In [52]:
df.hum[df.hum>0.7].count()/df.hum[df.hum<=1].count()

0.31600547195622436

In [38]:
df.weathersit[df.weathersit==1].count()/df.weathersit[df.weathersit].count()

0.6333789329685362

In [57]:
df.cnt[df.cnt==0].count()

0

In [58]:
plt.scatter(df.windspeed,df.temp)